@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes red-border-blink {
  0%, 50% {
    border-color: #ef4444;
    opacity: 1;
  }
  51%, 100% {
    border-color: transparent;
    opacity: 0.5;
  }
}

.animate-red-blink {
  animation: red-border-blink 1s infinite;
}
